
*{
    margin: 0%;
    padding: 0%;
    
}




body{
    background-image: url(./images/bg-pattern-top-desktop.svg),url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0vw 0vh,30vw 10vh;  
    background-size: 1150px;
    background-repeat: no-repeat;
    min-height: 100hv;
   
  
}

.text{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 50px;
} 
.pargragh{
     color: hsl(300, 24%, 96%);
     font-weight: 300;
     
}
    



.container{
    max-width: 1140px;
    margin: auto;
    font-family: "League Spartan", sans-serif;
    Font-size: 15px;
    font-weight: 400,500,700;
    color: hsl(300, 43%, 22%);
    margin-top: 4rem;
   
    
}
.top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.left{
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    width: 350px;
    gap: 10px;

}


.right{
    width: 450px;
    padding: 2rem 2rem;
    
}

.rating  {
    display: flex;
    background-color: hsla(300, 2%, 47%, 0.699);
    border-radius: 5px;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 20px;


    
}

#star-s{
    margin-left: 2rem;
    margin-right: 2rem;
}
#star-p{
    margin-left: 4rem;   
}
#star-f{
    margin-right: 4rem;
}
.p{
    color:hsl(300, 24%, 96%) ;
}
.q{
    color:  hsl(333, 80%, 67%);
}

.buttom-container{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.card{
    display: flex;
    border-radius: 5px;
    background-color: hsl(300, 43%, 22%);
    margin-left: 1rem;
    flex-direction: column;
    width: 300px;
    height: 170px;
    
}
.card-image{
    display: flex;
    align-items: flex-start;
    gap: 10px;
   
}
.pargragh{
     color: hsl(300, 24%, 96%);
     font-weight: 300;
     display: flex;
     align-items: center;
     text-align: center;
     font-size: 15px;
     padding-left: 1rem;
     padding-right: 1rem;
     padding-bottom: 10rem;
     
    
}
.image{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-direction: column;
    padding: 1rem 1rem;
}
#card-box{
    margin-top: 3rem;
}

 
#card-box1{
    margin-top: 1.5rem;
}
.card-text{
    padding-top: 1.5rem;
}
@media(max-width:700px){
    h1{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    .top-container{
        display: flex;
        flex-direction: column;
        align-items: center;
         
    }
    .buttom-container{
        display: flex;
        flex-direction: column;
        margin-right: 70px;
        align-items: center;
    
        
    
    }
    .left{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 300px;
    gap: 5px;
    }
    .right{
    width: 310px;
    padding: 1rem 1rem;
    margin-right: 60px;
   
    }
    .rating  {
    background-color: hsla(300, 2%, 47%, 0.699);
    border-radius: 5px;
    height: 40px;
    padding: 0px 5px;
    margin-top: 10px;
    display: flex;
    
    
    }
    #star-s{
    margin-left: 0rem;
    margin-right: 0rem;
    
    }

    #star-p{
    margin-left: 0rem; 
    }  

    #star-f{
    margin-right: 0rem;
    }
    .container{
        margin-left:200px;
    
        
    }
    

}
    

   




    

    



